.border-focus{
    border-color: #72ce72;
    box-shadow: 1px 1px 18px 3px #72ce72;
}

.border-focus-false{
    border-color: red;
}
.price{
    height: 40px;
    width: 150px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.words-price{
    margin: 7%;
}