.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  width: 600px;
  height: 400px;
  padding: 25px;
  background-color: white;
}

.modal-box__btn {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
