.content {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.add-more-btn {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.2em;
  border: none;
  background-color: orange;
  cursor: pointer;
}
