@import "_variable";

.menu-btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 37px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: black;
  right: 25px;
  top: 30px;
}
.menu-btn__burger{
    width: 17px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
.menu-btn__burger::before {
  transform: translateY(-5px);
}
.menu-btn__burger::after {
  transform: translateY(5px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.nav-menu{
  display: none;
  position: absolute;
  width: 182px;
  height: 208px;
  background-color: #F5F5F5;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
  top: 67px;
  right: 25px;

}
.nav-menu.active{
  display: block;
}
.menu-item:hover{
  background-color: #E5E5E5;
}
.item-link{
  margin-left: 20px;
}



