@import "variable";

.heading-img{
  width: 100%;
  margin-top: 5em;
}

.posts-heading{
  color: $posts-text-color;
  font-weight: 700;
  margin: 20px 0;
  font-size: 14px;
}
.name-post{
  color: $posts-text-color;
}