ul {
    list-style: none;
    padding: 0;
}

.quiz-variant {
    cursor: pointer;
    margin: 6px 0;
    padding: 10px 14px;
    width: 300px;
    background-color: rgba(100, 100, 100, .2);
    border-radius: 4px;
}

.score {
    font-weight: bold;
}