.tabs {
  width: 600px;
  height: 400px;
  margin: 100px auto;
  border: 1px solid black;
}

.tabs .toggles {
  width: 100%;
  box-sizing: border-box;
}

.tabs .content {
  padding: 25px;
}

.tab-btn {
  height: 50px;
  min-width: 100px;
  margin: 0;
  background-color: gray;
  border: 1px solid black;
  border-radius: 0;
  cursor: pointer;
}

.tab-btn.active {
  background-color: white;
  border-bottom: none;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
