.container-modal{
  background-color: #2c2b2bcc;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.modal{
  &__first{
    width: 550px;
    height: 250px;
    background-color: #E74C3C;
    margin-top: 50px;
    border-radius: 10px;
  }
  &__question{
    color: white;
    font-size: 25px;
    margin-left: 25px;
  }
  &__header{
    background-color: #D44637;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }
  &__btnText{
    color: #ffffffd9;
    text-align: center;
    line-height: 35px;
    margin-top: 25px;
  }
  &__wrapper-btn{
    display: flex;
    justify-content: center;
  }
  &__btn{
    width: 102px;
    height: 42px;
    background-color: #B3382C;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  &__btn2{
    width: 102px;
    height: 42px;
    background-color: #6d6d6d;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  &__btn2.cancel{
    background-color: #773838;
  }
  &__second{
    width: 550px;
    height: 250px;
    background-color: #949494;
    margin-top: 50px;
    border-radius: 10px;
  }

}
.close {
  position: relative;
  right: 10px;
  top: 17px;
  width: 32px;
  height: 32px;
}
.close:hover {
  opacity: 0.2;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #f1e8e8d6;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.container-modal.open{
  display: flex;
  justify-content: center;
}

.container-modal.close{
  display: none;
}
