* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
    min-height: 100vh;
	background: linear-gradient(50deg, black, #1E1328, #372248);
}

h1, .album__artist, .album__desc {
	font-family: 'Nunito', sans-serif;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}

.album__artist {
	color: #B6AEBC;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
}

h1 {
	text-align: center;
	color: white;
	margin: 20px;
	font-weight: lighter;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
}

gr
  .album__desc {
	font-size: 0.7rem;
}

h2 {
	font-family: 'Istok Web', sans-serif;
	letter-spacing: 1px;
	font-weight: 100;
	color: white;
	font-size: 1.45rem;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.75);
}

.albums {
	margin: 50px 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}

.album {
	background: rgba(200, 200, 200, 0.1);
	border: 1px solid rgba(200, 200, 200, 0.1);
	box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.87);
	padding: 10px;
	display: grid;
	grid-template-columns: 150px 1fr;
	gap: 10px;
	align-items: center;
	color: white;
	transition: all 0.5s;
}

.album:hover {
	transform: scale(1.01);
	background: rgba(200, 200, 200, 0.3);
}

.album__artwork {
	width: 100%;
}