.container-modal{
  background-color: #2c2b2bcc;
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
}
.modal{
  &__question{
    color: #5a4f4f;
    font-size: 25px;
  }
  &__header{
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  &__btnText{
    color: #ffffffd9;
    text-align: center;
    line-height: 35px;
    margin-top: 25px;
  }
  &__wrapper-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  &__ok-cancel{
    height: 40px;
    width: 100px;
    margin: 30px;
  }
  &__btn{
    width: 102px;
    height: 42px;
    background-color: #B3382C;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  &__btn2{
    width: 102px;
    height: 42px;
    background-color: #6d6d6d;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  &__btn2.cancel{
    background-color: #773838;
  }
  &__second{
    width: 550px;
    height: 250px;
    background-color: #949494;
    margin-top: 50px;
    border-radius: 10px;
  }
  &__container{
    position: relative;
    width: 700px;
    height: 250px;
    background: white;
    margin: auto;
    border-radius: 15px;
  }

}
.close {
  position: absolute;
  right: 20px;
  top: 14px;
  width: 32px;
  height: 32px;
}
.close:hover {
  opacity: 0.2;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #857f7fd6;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.container-modal.open{
  display: flex;
  justify-content: center;
}
.container-modal.close{
  display: none;
}
