.wrapper-product-card{

  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}
.product-card{
  width: 230px;
  height: 316px;
  border: 1px solid #0000004f;
  margin-top: 15px;
  &__content{
    display: block;
    margin: 13px auto 0;
    width: 80%;
  }
  &__img{
    width: 95%;
    margin: 0 auto;
    display: block;
  }
  &__name{
    color: #221f1fd9;
    font-size: 14px;
    text-align: center;
    margin: 30px 0;
  }
  &__price{
    margin-top: 58px;
    font-size: 22px;
  }
  &__img-star{
    height: 20px;
    width: 20px;

    cursor: pointer;
  }
}
.product-card .active{
  fill: #665f5f;
}
.product-card .notActive{
  fill: gold;
}
.btn-container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}