.buttons {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

.button {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 2px solid black;
    font-size: 100px;
    cursor: pointer;
}

.button:hover {
    border: 2px solid black;
    color: white;
    background-color:black;
}

.button:disabled {
    background-color: #aaa;
}

.button:disabled:hover {
    cursor: default;
    color: inherit;
}

#counter {
    font-size: 250px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 120px;
}