.slider {
  width: 600px;
}

.slides {
  position: relative;
}

.slides img {
  width: 100%;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slider-btn {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

.slider-btn.active {
  width: 100px;
  height: 100px;
}

.slider-btn img {
  width: 100%;
  height: 100%;
}

.btn-slide-arrow {
  position: absolute;
  width: 75px;
  height: 75px;
  font-size: 3em;
  background-color: transparent;
  border: none;
  top: calc(50% - 37.5px);
  cursor: pointer;
}

.btn-slide-arrow:hover {
  color: green;
}

.btn-slide-arrow.prev {
  left: 0;
}

.btn-slide-arrow.next {
  right: 0;
}
